.ci
.git
.idea
.vscode
.terraform
.documentation

archive
scripts
private
testing

Makefile
Dockerfile.bak

.gitignore
.editorconfig
.dockerignore

*.tf
*.tfstate
*.tfstate.*
*.bash
*.json
*.hcl
*.yml
*.yaml
*.md
*.log
*.logs

.example.env

build
builds

dist
internalos
distributions

http-api
